
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

body {
    background-image: url("http://img11.deviantart.net/abbe/i/2011/001/7/d/flux_capacitor___wallpaper_by_excursioner1-d36792h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container{ 
    width:450px;
    height: 500px;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-family: Orbitron;
    color: white;
}

#readoutContainer {
    height: 300px;
    width: 400px;
}

p {
    margin-bottom: 0;
    font-family: Orbitron;
    color: white;
    font-size: 40px;
    text-align: center;
}

#year {
    display: block;
    font-family: Digital-7;
    color: #FFD119;
    font-size: 80px;
    margin-top: -1rem;
}

button {
    margin: 1.5rem;
    background: none;
    font-family: Digital-7;
    color: #FFD119;
    border-radius: 50%;
    font-size: 19px;
}



